<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>PORTAL</display-name>

	<session-config>
      <session-timeout>480</session-timeout>
   </session-config>
   
    <filter>
        <filter-name>struts2-prepare</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
        <init-param>
         <param-name>struts.custom.i18n.resources</param-name>
         <param-value>ApplicationResources</param-value>
      </init-param>
    </filter>
     <filter>
        <filter-name>struts2-execute</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter</filter-class>
        <init-param>
         <param-name>struts.custom.i18n.resources</param-name>
         <param-value>ApplicationResources</param-value>
      </init-param>
    </filter>
    <filter-mapping>
        <filter-name>struts2-prepare</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2-execute</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>
            org.apache.struts2.tiles.StrutsTilesListener
        </listener-class>
    </listener>  
	<servlet>
        <servlet-name>JspSupportServlet</servlet-name>
        <servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
	    <servlet-name>UserConfigServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.UserConfigServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>ChartConfigServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.ChartConfigServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>QuoteDataServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.QuoteDataServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>OptionSummaryQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionSummaryQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>OptionOIQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionOIQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>OISpikeChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OISpikeChartQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>OptionGreeksChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionGreeksChartQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>OptionSpikesChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionSpikesChartQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>OptionAlgoOrderMovementChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionAlgoOrderMovementChartQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>DOMSummaryQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.DOMSummaryQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>Option1MGreeksMovementChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.Option1MGreeksMovementChartQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>OptionCePeIVRatioChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionCePeIVRatioChartQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>OptionTimeValueAnalysisChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionTimeValueAnalysisChartQuoteServlet</servlet-class>
	    <load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>OptionVegaValueAnalysisChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionVegaValueAnalysisChartQuoteServlet</servlet-class>
	    <load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>OptionATMMovementAnalysisChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionATMMovementAnalysisChartQuoteServlet</servlet-class>
	    <load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>OptionATMMovementRawDataAnalysisChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionATMMovementRawDataAnalysisChartQuoteServlet</servlet-class>
	    <load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>OptionGreeksMovementAnalysisChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionGreeksMovementAnalysisChartQuoteServlet</servlet-class>
	    <load-on-startup>0</load-on-startup>
	</servlet>
	
	
	
	<servlet>
	    <servlet-name>Option1MPremiumDecayChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.Option1MPremiumDecayChartQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>OptionGreeksRateOfChangeChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionGreeksRateOfChangeChartQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>OptionOIDescrepancyQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionOIDescrepancyQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>OptionPriceRateOfChangeChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionPriceRateOfChangeChartQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>OptionATMOTMOIRateOfChangeChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionATMOTMOIRateOfChangeChartQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>TrendDecidingOptionGreeksROCChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.TrendDecidingOptionGreeksROCChartQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>OptionDeltaNutralPriceDisparityChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionDeltaNutralPriceDisparityChartQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>OptionMaxOIWorthReversionChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionMaxOIWorthReversionChartQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>OptionOptimalStrikeChartQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.OptionOptimalStrikeChartQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>SymbolSearchServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.SymbolSearchServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>SearchSymbolServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.SymbolSearchServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>AddNotePluginServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.AddNotePluginServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	
	<servlet>
	    <servlet-name>HighstockChartDataServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.IntradayChartServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>StreamingTickChartServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.StreamingTickChartServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>CommandlineServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.CommandlineServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>ChartPrinterServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.ChartPrinterServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>TrendlineServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.TrendlineServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>GetLiveBSEQuoteServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.GetLiveBSEQuoteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>QuickChartServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.QuickChartServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>JfreeIntraDayChartServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.JfreeIntraDayChartServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	 <servlet>
	    <servlet-name>JqGridDataProviderServlet</servlet-name>
	    <servlet-class>org.stock.portal.web.servlet.JqGridDataProviderServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	    <servlet-name>UserConfigServlet</servlet-name>
	    <url-pattern>/servlet/UserConfigServer</url-pattern>
	</servlet-mapping>  
	<servlet-mapping>
	    <servlet-name>ChartConfigServlet</servlet-name>
	    <url-pattern>/chart/ChartConfig</url-pattern>
	</servlet-mapping>  
	<servlet-mapping>
	    <servlet-name>QuoteDataServlet</servlet-name>
	    <url-pattern>/chart/QuoteData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>OptionSummaryQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionSummaryQuote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>OptionOIQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionOpenInterestChange</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>OISpikeChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/OISpikeChartQuote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>OptionGreeksChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionGreeksChartQuote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>OptionSpikesChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionSpikesChartQuote</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>OptionAlgoOrderMovementChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionAlgoOrderMovementChartQuote</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>DOMSummaryQuoteServlet</servlet-name>
	    <url-pattern>/chart/DOMSummaryQuote</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>Option1MGreeksMovementChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/Option1MGreeksMovementChartQuote</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>OptionCePeIVRatioChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionCePeIVRatioChartQuote</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>OptionTimeValueAnalysisChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionTimeValueAnalysisChartQuote</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>OptionVegaValueAnalysisChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionVegaValueAnalysisChartQuote</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>OptionATMMovementAnalysisChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionATMMovementAnalysisChartQuote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>OptionATMMovementRawDataAnalysisChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionATMMovementRawDataAnalysisChartQuote</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>OptionGreeksMovementAnalysisChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionGreeksMovementAnalysisChartQuote</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>Option1MPremiumDecayChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/Option1MPremiumDecayChartQuote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>OptionGreeksRateOfChangeChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionGreeksRateOfChangeChartQuote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>OptionOIDescrepancyQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionOIDescrepancyChartQuote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>OptionPriceRateOfChangeChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionPriceRateOfChangeChartQuote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>OptionATMOTMOIRateOfChangeChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionATMOTMOIRateOfChangeChartQuote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>TrendDecidingOptionGreeksROCChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/TrendDecidingOptionGreeksROCChartQuote</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
	    <servlet-name>OptionDeltaNutralPriceDisparityChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionDeltaNutralPriceDisparityChartQuote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>OptionMaxOIWorthReversionChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionMaxOIWorthReversionChartQuote</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>OptionOptimalStrikeChartQuoteServlet</servlet-name>
	    <url-pattern>/chart/OptionOptimalStrikeChartQuote</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>SymbolSearchServlet</servlet-name>
	    <url-pattern>/applets/JavaChart/lookupSymbols.jsp</url-pattern>
	</servlet-mapping> 
	<servlet-mapping>
	    <servlet-name>SearchSymbolServlet</servlet-name>
	    <url-pattern>/chart/SymbolSearch</url-pattern>
	</servlet-mapping>
     <servlet-mapping>
	    <servlet-name>AddNotePluginServlet</servlet-name>
	    <url-pattern>/prophet/plugin/AddNotePlugin.class</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>ChartPrinterServlet</servlet-name>
	    <url-pattern>/prophet/plugin/ChartPrinter.class</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>TrendlineServlet</servlet-name>
	    <url-pattern>/servlet/TrendlineServlet</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
	    <servlet-name>GetLiveBSEQuoteServlet</servlet-name>
	    <url-pattern>/data/getLiveBSEQuoteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>QuickChartServlet</servlet-name>
	    <url-pattern>/chart/quickchart/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>HighstockChartDataServlet</servlet-name>
	    <url-pattern>/chart/intradayChartData</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>StreamingTickChartServlet</servlet-name>
	    <url-pattern>/chart/streamingTickchart</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>CommandlineServlet</servlet-name>
	    <url-pattern>/misc/commandlineServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>JfreeIntraDayChartServlet</servlet-name>
	    <url-pattern>/chart/jFreeIntradayChart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>JqGridDataProviderServlet</servlet-name>
	    <url-pattern>/servlet/JqGridDataProviderServlet</url-pattern>
	</servlet-mapping>
    <context-param>
        <param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
        <param-value>/WEB-INF/tiles.xml</param-value>
    </context-param>    

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
	
</web-app>